<div class="col-sm-12 col-md-12 col-lg-12  dark-background our-services" style='padding:0px; min-height:400px;'>
    <div class="main-services-block">
        <div class='col-lg-off-1 col-lg-10'>
        <!-- line one  -->
        <div class='col-lg-3 col-sm-5 services-block '>

            <div class="icon">
                <i class="fa fa-5x fa-book" aria-hidden="true"></i>
            </div>
            <div class='col-lg-12 col-sm-12 col-md-12'>
                <hr>
            </div>
            <div class="information">
                كتب وكورسات في جميع المجالات التكنولوجية
            </div>

        </div>
        <div class='col-lg-3  col-sm-5 services-block'>
            <div class="icon">
                <i class="fa fa-5x fa-map-o" aria-hidden="true"></i>
            </div>
            <div class='col-lg-12 col-sm-12 col-md-12'>
                <hr>
            </div>
            <div class="information">
                المسارات التعليمية التي يجدر بك اتباعها لتعلم موضوع معين
            </div>
        </div>
        <div class='col-lg-3 col-sm-5 services-block'>
            <div class="icon">
                <i class="fa fa-5x fa-link" aria-hidden="true"></i>
            </div>
            <div class='col-lg-12 col-sm-12 col-md-12'>
                <hr>
            </div>
            <div class="information">
                تستطيع حفظ اللينكات الخاصه بك والوصول اليها بسهوله تامه
            </div>

        </div>
        <!-- line one  -->
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12"></div>
        <!-- line two  -->
        <div class="col-lg-off-2 visible-lg hidden-sm hidden-md"></div>

        <div class='col-lg-3 col-sm-5 services-block '>
            <div class="icon">
                <i class="fa fa-5x fa-users" aria-hidden="true"></i>
            </div>
            <div class='col-lg-12 col-sm-12 col-md-12'>
                <hr>
            </div>
            <div class="information">
                انشاء مجموعات خاصه لنشر اللينكات والتواصل فيما بينكم
            </div>
        </div>
        <div class='col-lg-3 col-sm-5 services-block'>
            <div class="icon">
                <i class="fa fa-5x fa-comments" aria-hidden="true"></i>
            </div>
            <div class='col-lg-12 col-sm-12 col-md-12'>
                <hr>
            </div>
            <div class="information">
                التواصل مع الخبراء وتبادل الخبرات بينكم
            </div>
        </div>

        <!-- line two -->
    </div>


</div>