<div class="col-sm-12 col-md-12 col-lg-12  white-background our-services" style='padding:0px; min-height:500px;direction: rtl'>

        <div class='text-center col-lg-12 col-sm-12 col-md-12' style="color:black;font-family: 'El Messiri', sans-serif;font-size:25px;">
                خدماتنا </div>
        <br>
<!-- all service aligned lg -->
        <div class="col-lg-10 col-lg-off-1 visible-lg hidden-sm hidden-md">

                <!-- first section -->

                <div class="col-lg-3 col-md-3 col-sm-3  ">
                        <div class="circle circle-dark" style="margin-right: 30px">
                                <div class="relative circle-icon-light" style="top:45px;right:45px">
                                        <i class="fa fa-3x fa-link" aria-hidden="true"></i>
                                </div>
                        </div>
                        <div class="col-lg-12">
                                        <div class="col-lg-10 col-lg-off-1 text-center " style="border-top:solid black 2px">
                                                        حفظ الروابط والملاحظات الخاصة بك 
                                                        والوصول اليها من اي مكان 
                                                </div> 
                        </div>
                         
                </div>

                <!-- secound section -->

                <div class="col-lg-3 col-md-3 col-sm-3  ">
                                <div class="circle circle-light"  style="margin-right: 30px">
                                        <div class="relative circle-icon-dark" style="top:45px;right:45px">
                                                <i class="fa fa-3x fa-check" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="col-lg-12" >
                                                <div class="col-lg-10 col-lg-off-1 text-center " style="border-top:solid black 2px">
                                                        انشئ قائمة المهام الخاصة بك

                                                </div> 
                                </div>
                </div>
                <!-- secound section -->

                <!-- 3rd section -->

                <div class="col-lg-3 col-md-3 col-sm-3  " >
                                <div class="circle circle-dark"  style="margin-right: 30px">
                                        <div class="relative circle-icon-light" style="top:45px;right:45px">
                                                <i class="fa fa-3x fa-book" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="col-lg-12" >
                                                <div class="col-lg-10 col-lg-off-1 text-center " style="border-top:solid black 2px">
                                                        مكتبة في العديد من المجالات العلمية

                                                </div> 
                                </div>
                        </div>
                <!-- 3rd section -->

                <!-- 4th section -->

                <div class="col-lg-3 col-md-3 col-sm-3  ">
                                <div class="circle circle-light"  style="margin-right: 30px">
                                        <div class="relative circle-icon-dark" style="top:45px;right:42px">
                                                <i class="fa fa-3x fa-television" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="col-lg-12" >
                                                <div class="col-lg-10 col-lg-off-1 text-center " style="border-top:solid black 2px">
                                                        كورسات المجانية في العديد من المجالات العلمية 
                                                </div> 
                                </div>
                </div>

                <!-- 4th section -->






        </div>
<!-- all servicesss aligned -->



<!-- all service aligned sm md -->
<div class="col-sm-12 col-md-10 col-lg-off-2 visible-sm hidden-lg visible-md">

                <!-- first section -->

                <div class="col-md-10 col-md-10  ">
                        <div class="col-sm-2 col-md-2 zero-padding" >
                                <div class="relative circle-icon-light" >
                                        <i class="fa fa-2x fa-link" aria-hidden="true"></i>
                                </div>
                        </div>
                        <div class="col-sm-10 col-md-10" style="border-right:solid black 1px">
                                        
                                                        حفظ الروابط والملاحظات الخاصة بك 
                                                        والوصول اليها من اي مكان 
                                               
                        </div>
                         
                </div>

                <!-- secound section -->
             
                <div class="col-md-10 col-md-10  ">
                                <div class="col-sm-2 col-md-2 zero-padding" >
                                        <div class="relative circle-icon-light" >
                                                <i class="fa fa-2x fa-check" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="col-sm-10 col-md-10 " style="border-right:solid black 1px">
                                                
                                                               تمكن من انشاء قائمة المهام الخاصه بك والوصول اليها في كل مكان 

                                </div>
                                 
                        </div>
                                                        
                <!-- secound section -->

                <!-- 3rd section -->
                <div class="col-md-10 col-md-10  ">
                                <div class="col-sm-2 col-md-2 zero-padding" >
                                        <div class="relative circle-icon-light" >
                                                <i class="fa fa-2x fa-book" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="col-sm-10 col-md-10" style="border-right:solid black 1px">
                                               الوصول الى مكتبئة مليئة بالكتب العلمية في شتى المجالات الهندسية

                                                       
                                </div>
                                 
                        </div>
               

                <!-- 3rd section -->

                <!-- 4th section -->
                <div class="col-md-10 col-md-10   ">
                                <div class="col-sm-2 col-md-2 zero-padding" >
                                        <div class="relative  circle-icon-light" >
                                                <i class="fa fa-2x fa-television" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="col-sm-10 col-md-10" style="border-right:solid black 1px">
                                                
                                               الوصول الي العديد من الكورسات المجانية والمواقع المفيده في المجالات العلمية 
                                                       
                                </div>
                                 
                        </div>

                <!-- 4th section -->






        </div>

</div>