        <div class="col-lg-4 visible-lg  hidden-md hidden-sm no_margin_btm">
        
            
            <a href="todo.php"><div class="col-lg-3 blue " style="text-align:center"><i class="fa fa-check-square-o  icon-si" aria-hidden="true"></i> </div></a>
            <a  href="../../index.php"><div class="col-lg-3 blue " style="text-align:center"><i class="fa fa-link fa-lg icon-si" aria-hidden="true"></i></div></a>
            <a  href="memories.php"><div class="col-lg-3 blue " style="text-align:center"><i class="fa  fa-pencil-square-o icon-si" aria-hidden="true"></i></div></a>
            <div class="col-lg-3 blue active" style="text-align:center;padding-bottom: 25px;padding-top: 20px;"><i class="fa fa-cog fa-lg icon-si" aria-hidden="true"></i></div>
            
        </div>
        <div class="fix"></div>
        <div class="col-lg-8 col-sm-12 hidden-lg no_margin_btm" style="padding:0px;">
        
          
            <a href="todo.php"><div class="col-lg-3 blue " style="text-align:center;padding:5px  "><i class="fa fa-check-square-o  icon-si" aria-hidden="true"></i> </div></a>   
            <a  href="../../index.php"><div class="col-lg-3  blue " style="text-align:center;padding:5px"><i class="fa fa-link fa-lg icon-si" aria-hidden="true"></i></div></a>
            <a  href="memories.php"><div class="col-lg-3 blue " style="text-align:center;padding:5px"><i class="fa fa-pencil-square-o icon-si" aria-hidden="true"></i></div></a>
            <div class="col-lg-3 blue active" style="text-align:center;padding:5px"><i class="fa fa-cog fa-lg icon-si" aria-hidden="true"></i></div>
            
        </div>
        <div class="fix"></div>