.pointer        {cursor:pointer;}
.zero-padding   {padding:0px;}
.dark-background {background-color:#232323;}
.white-background {background-color:white;}
.light-color-at-hover:hover{color:#CC1122;}
.light-color    {color:#CC1122;}
.dark-color{color:#232323;}
.black-color{color:black}
.white-color{color:white}
.relative{ position:relative;}
.absolute{ position:absolute;}
.inline-block{display: inline-block}
.fixed{position:fixed}
.wrap{word-wrap: break-word;}
.div-img{ 
    background-color:rgba(0,0,0,0.7);
}
.logo{
   top:-70px;margin-left:30px;
}
.side-icon{
   
    top:-70px;
    right:40px
}

.bar{
    top             :-100px;
    right           :0px;                    
    height          :100%;
    background-color:#232323;
    padding:0px;
    height:120%;
    z-index:100;
    display:none;
    transition: all 2s linear;                            
  }
#bar{
    -webkit-transition: visibility  2s ease-in-out;
    transition: visibility  2s ease-in-out;
  }
.menue-class:hover{
      color:#CC1122;
      text-indent: 10px;
  }
.btn-menu:hover{
    background-color:rgba(57,181,74,0.3);
  }

/* *********************container two****************************** */
.our-services{
  
    /* height:800px; */
}
.services-block{
    /* border-radius: 500%; */
    /* width:250px; */
    /* max-height:250px; */
    background-color: #ffff;
    margin-top:2.5%;
    margin-left:4%;
    margin-bottom:3%;
    height: 350px;    
    padding: 50px;  
    /* border-left:10px solid #CC1122; */
}
.services-block:hover{
    box-shadow: 0px 0px 15px #CC1122;
    position: relative;
    
}
.icon{
    color:#232323;
    margin-top: 5px;
    
}

.main-services-block{
    text-align: center;
    margin-left:2.5%;
    margin-top: 5%;
}
hr{
    margin-top: 15px;    
    border-color:#CC1122;
}
.information{
    color:#4CAF50;
    margin-top: 70px;
}
.service-block{
    min-height: 250px;
    /* min-height: 300px; */
  
}

.service-block:hover{
    background-color:#232323;
    color:white; 
}
.service-block:hover i{
    color:#4CAF50
}
.green-background{
    background-color: rgb(76,175,80);
}
.imgatt{
    background-image :url("../../../img/books-chair-clock-707196.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.circle{
    width: 150px;
    height: 150px;
    border-radius: 500%;
    border-width: 3px;
    border-style: solid;
}
.circle-light{
    border-color: #FA5252;

}
.circle-dark{
    border-color: #445871;

}

.circle-icon-dark{
    color: #445871
}