*{
    padding: 0px; 
    margin: 0px;
}
body {
    background-repeat: no-repeat;
    background-size: 100%;    
}
/* color */ 
.top_btn ,.top_btn:hover ,.top_btn-active , .login-btn:hover
,#changepassword .login-btn , #changepassword .login-btn:hover
,#outfromall .login-btn , #outfromall .login-btn:hover 
,.forget_pass , .changpasswords 
{color: white;}
a
{color: black;}

.top_btn:hover , .login-btn:hover
, .info-red , #changepassword , .login-btn:hover 
, #outfromall , .login-btn:hover , .top_btn-active
{background-color: #FA5252 ;}

.form_container , .changpasswords , #outfromall .login-btn
, #changepassword .login-btn , .info-blue , .top_btn
{background-color: #445871;}

.form_container , .changpasswords , 
{overflow: hidden;}

#danger-ti , .cross:hover , #changepassword
{color: #FA5252;}

.danger , .msg , .about
{ border-left: 10px solid #FA5252;}


.form_container input:focus , .danger:hover  
, #outfromall 
{ box-shadow: 0px 0px 10px #FA5252;}

.cross , .login-btn , .top_btn 
, .form_container input 
{font-size: 20px;}

.top_btn-active , .top_btn ,#changepassword , #outfromall ,.msg
, .mail
{ padding: 20px;}


.icon-si , .info , .danger ,.form_container
{padding: 10px;}

#changepassword , #outfromall
{text-overflow: hidden !important;}

.form_container {
    height: 100%;
   
}

.form_container input {
    margin-bottom: 8px;
    padding-left: 10px;
}



.top_btn {
    margin: 0px;
    border: none;
    color: #021c1e;
    transition: background-color 0.5s;
}

.login-form {
    margin-top: 200px;
    z-index: 10;
}

.login-btn {
    border: none;
    color: white;
    background-color: #445871;
    transition: background-color 0.5s;
    
}

.info {
    margin-bottom: 8px;
}
.info-bl:hover{
    box-shadow: 0px 0px 30px #FA5252;
    
}
.info-rd:hover{
    box-shadow: 0px 0px 30px #445871;
    
}
.info-red{
    margin-left:30px;
    border-left: 10px solid white;
    width:80%;
}
.info-blue{
    margin-left:30px;
    border-left: 10px solid white;
    width:80%;
}
.danger {
    background-color: #FFFFCC;
    color: black;
}


#changepassword{
    position :fixed;
    top:100px;
    right:250px;
    
    display: none;
    color:black;
    background-color: #E7E7E7;   
    height:cover;
}


.changpassword{
    cursor:pointer;
    
}
#outfromall{
    position :fixed;
    top:100px;
    display: none;
    color:black;
    background-color: #E7E7E7;   
    height:cover;
}


.outfromall{
    cursor:pointer;    
    }
.msg{
    margin-bottom: 30px;
    font-size: 20px;
}

.changpasswords{
    position: relative;
    top : 100px;
}
.mail{
    font-size: 30px;
    margin-bottom: 5px;
}
.team-info{
    border-right: 5px solid white;
    padding:5px;
    font-size: 15px;
}
.about{
    background-color:#EEEEEE;
    float: left;
    color:black !important;
}
.login-form{
    border: solid #FA5252 2px; 
    
}

/* newwwwwwwwwwwww */
.try{

    color:white;
    overflow: hidden;
    margin-top: 20px;
}
.log_in_info{
    background-color: white;
    border-radius: 5px; 
}

.input-feiled{
    margin-top: 20px;
    border: none;
    border-bottom: solid #eeeeee 2px;
    outline: none;    
    transition: border 0.5s;
    
}
.input-feiled:focus{
    border-bottom: solid #FA5252 2px;
    
}
.mire{
    height: 420px;
    background-color: #242424;
}





